<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently working at
      <a class="underline-link" href="https://www.bynder.com/" target="_blank">Bynder</a> working remotely with awesome people in great environment. I've been developing apps since 2011 in the 
      <a class="underline-link" href="https://android-developers.googleblog.com/2012/01/holo-everywhere.html" target="_blank">holo</a> era. And I've seen and known lots of desserts I didn't know existed. Nevertheless I'm excited for the Kotlin Multiplatform approach and how can it change mobile landscape.
    </p>

    <p>
      As an Android engineer and design aficionado, I enjoy closing the gap between tech and design &mdash; using my expertise to create bridges between those areas that provide solutions. My wish is to do efficient and scalable code that is resilient and able to adapt as requirements change, making my own life easier for future me while providing engaging, and purposeful user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably with my wife and son, woodworking on my garage, or picking my camera and taking some pictures.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>