<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project bynder">
      <figure class="project__pic phones">
        <a href="https://play.google.com/store/apps/details?id=com.bynder.bynder" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/bynder/login.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/bynder/assets.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/bynder/collections.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">Bynder DAM application</a>
        </div>
        <p>Completely built from scratch the old Bynder android application. Moving it away from Java and make a transition to Kotlin, Material Design, Corroutines and newer patterns</p>
      </figcaption>
    </div>
    <div class="project smartbeaches">
      <figure class="project__pic phones">
        <a href="javascript:;">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/smartbeaches/beaches.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/smartbeaches/events.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/smartbeaches/comments.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="javascript:;">Smartbeaches</a>
        </div>
        <p>Proof of concept that was presented during FiTur in Madrid, 2012. My first implementation of what later that year would be the widely known cards, just before Google unveiled their Material Design update.</p>
      </figcaption>
    </div>
  </div>
</section>
